<nav class="navbar navbar-light bg-light">
  <div class="container-fluid d-flex flex-wrap">
    <a class="navbar-brand" routerLink="/">BookPlanner</a>
    <ul class="nav nav-pills me-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/books', 'list']" routerLinkActive="active">Список книг</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/books', 'create']" routerLinkActive="active"
           *ngIf="auth.isAuthenticated()">Добавить книгу</a>
      </li>
    </ul>
    <div class="text-end">{{auth.userInfo()}}</div>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a *ngIf="auth.isAuthenticated()" class="nav-link" (click)="logout()" routerLinkActive="active">Выйти</a>
        <a *ngIf="!auth.isAuthenticated()" class="nav-link" [routerLink]="['auth']" routerLinkActive="active">Войти</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
