<form class="container" [formGroup]="formAuth" (ngSubmit)="submit()">

  <h2 class="text-center">Войдите с помощью</h2>
  <div class="row">
    <div class="btn white darken-4 col s10 m4">
      <a
        class="btn btn-outline-dark google-btn"
        role="button"
        (click)="googleLogin()"
      >

        <img class="google-btn-img" src="assets/images/Google_Logo.svg.png" alt="google logo">
        Login with Google
      </a>
    </div>
  </div>

  <hr>

  <h2 class="text-center">Введите логин/пароль</h2>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email">
    <div
      *ngIf="formAuth.get('email').touched && formAuth.get('email').invalid"
      class="form-text"
    >
      <small
        *ngIf="formAuth.get('email').errors.required"
      >Введите email</small>
      <small
        *ngIf="formAuth.get('email').errors.email"
      >Введите корректный Email</small>
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Пароль</label>
    <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
    <div
      *ngIf="formAuth.get('password').touched && formAuth.get('password').invalid"
      class="form-text"
    >
      <small
        *ngIf="formAuth.get('password').errors.required"
      >Введите пароль</small>
      <small
        *ngIf="formAuth.get('password').errors.minlength"
      >Пароль должен быть не менее {{formAuth.get('password').errors.minlength.requiredLength}} символов</small>
    </div>
  </div>
  <div class="row">
    <div class="text-center">
      <button
        type="submit"
        class="btn btn-outline-secondary width"
        [disabled]="formAuth.invalid || submitted"
      >Войти
      </button>
    </div>
  </div>

</form>


