<h1 class="text-center">{{bookId ? 'Редактирование книги' : 'Добавление книги' }}</h1>
<div class="container">
  <form [formGroup]="formBook" (ngSubmit)="submit()">
    <div class="mb-3">
      <label for="nameBook" class="form-label">Название книги</label>
      <input type="text" class="form-control" id="nameBook" formControlName="name">
    </div>
    <div class="mb-3">
      <label for="authorBook" class="form-label">Автор книги</label>
      <input type="text" class="form-control" id="authorBook" formControlName="author">
    </div>
    <div class="mb-3">
      <label class="form-label">Жанр книги</label>
      <select
        class="form-select"
        aria-label="Default select example"
        formControlName="genre"
      >
        <option selected>Выберите жанр книги</option>
        <option
          *ngFor="let g of getGenres | async"
          [ngValue]="g.key"
        >
          {{ g.val }}
        </option>
      </select>
    </div>
    <div class="mb-3">
      <label for="descriptionBook" class="form-label">Описание книги</label>
      <textarea class="form-control" id="descriptionBook" rows="3" formControlName="description"></textarea>
    </div>
    <div class="mb-3">
      <label for="formFile" class="form-label">Обложка книги</label>
      <input #bookCover class="form-control" type="file" id="formFile" accept=".png, .jpg" (change)="upload($event)">
    </div>
    <div *ngIf="coverUrl | async as cover">
      <img class="img" [src]="cover" *ngIf="cover">
    </div>
    <ng-container *ngIf="uploadPercent | async as progress">
      <div class="progress">
        <div
          class="progress-bar bg-info"
          [ngStyle]="{ 'width': progress + '%' }"
        > {{ progress | number: '0.0-0'}} %
        </div>
      </div>
    </ng-container>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="readBook" formControlName="read">
      <label class="form-check-label" for="readBook">Книга прочитана</label>
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="formBook.invalid || submitted"
    >Submit
    </button>
  </form>
</div>

