<!--    [nameFilter]="name"-->
<div class="container-sm">
  <h1 class="text-center">Список книг</h1>
  <app-filter
    (filterBook)="getList($event)"
  ></app-filter>
  <table class="table table-hover">
    <thead class="table-info">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Название книги</th>
      <th scope="col">Автор</th>
      <th scope="col">Жанр</th>
      <th scope="col">Описание книги</th>
      <th scope="col">Прочитана?</th>
      <th
        *ngIf="auth.isAuthenticated()"
        scope="col">Действие
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of books; let idx = index">
      <th>{{ idx + 1 }}</th>
      <th>{{ book.name }}</th>
      <th>{{ book.author }}</th>
      <th>{{ genres[book.genre] }}</th>
      <th>{{ book.description }}</th>
      <th>{{ book.read ? 'Да' : 'Нет' }}</th>
      <th *ngIf="auth.isAuthenticated()">
        <button class="btn btn-info"
                [routerLink]="['/books', 'edit', book.id]"
        >Редактировать
        </button>
        <button class="btn btn-info"
                (click)="removeBook(book.id)"
        >Удалить
        </button>
      </th>
    </tr>
    </tbody>
  </table>
  <div
    *ngIf="!books.length && isLoad"
    class="text-center display-6"
  >Данных нет
  </div>
  <div
    *ngIf="!isLoad"
    class="text-center display-6"
  >Загрузка данных
  </div>
</div>

